.title {
    color: #FFFFFF;
}

#hobbyPhotographer {
    color: #FFFFFF
}

#aboutMeButton {
    color: black;
}

.aboutMeTextWhite {
    color: white;
}

#myWorkButton {
    color: #000000;
}

#aboutMeLink {
    color: #000000;
}

#seeMyWorkButtonLink {
    color: #000000;
}

#myDataButton {
    color: black;
}

#contactMeButton {
    color: black;
}

#myDataAddress {
    color: #FFFFFF;
}

#myWorkAndPassion {
    color: #FFFFFF;
}

#smallTextMyWork {
    color: black;
}

#findMe {
    color: #FFFFFF;
}
#contactMeFields {
    color: #FFFFFF;
}

#aboutMeText {
    color: white;
}